<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BAI Registeration</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- MATERIAL DESIGN ICONIC FONT -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- STYLE CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel='shortcut icon' href='../images/favicon.ico' type='image/png' />
  <link rel="stylesheet" href="../css/materialize.min.css">

  <script src='../js/jquery.min.js'></script>
  <script src="../js/materialize.min.js"></script>
  <script src="../js/validate.min.js"></script>

</head>

<body>

  <!-- multistep form -->
  <form id="msform" method="POST" action="/new">
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Basic Details</li>
      <li>Organization Details</li>
      <li>Project Details</li>
    </ul>
    <!-- fieldsets -->

     <fieldset >
      <h2 class="fs-title">Basic Details</h2>
      <h3 class="fs-subtitle">This is step 1</h3>

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Please enter your full name" minlength="5" id="contractor-name" name="name"  type="text" class="validate" required autocomplete="off"
            autofocus>
          <label for="contractor_name">Contact Person's Name <span style="color: red; font-size: 15px !important">*</span></label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Please enter your company name" minlength="2" id="org-name" name="org_name" type="text" class="validate" required autocomplete="off">
          <label for="org_name">Organization's Name <span style="color: red; font-size: 15px !important"">*</span></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="email@gmail.com" id="email" name="email" type="email" minlength="2" class="validate" required autocomplete="off">
          <label for="email">Email Address <span style="color: red; font-size: 15px !important"">*</span></label>
        </div>
        <div class="input-field col s6">
          <input placeholder="https://www.yourwebsite.com" id="website" name="website" type="url" class="validate" autocomplete="off">
          <label for="website">Website </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Please enter the street address" type="text" minlength="5" id="address" name="address" class="validate" required autocomplete="off">
          <label for="address">Address <span style="color: red; font-size: 15px !important"">*</span></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
            <input placeholder="Please enter the state"  type="text" id="state" name="state" class="autocompleteState validate" required autocomplete="off">
            <label for="state">State <span style="color: red; font-size: 15px !important"">*</span></label>
        </div>
        <div class="input-field col s4">
          <input placeholder="Please enter the city" id="city" name="city"  type="text" class="validate autocompleteCity" required autocomplete="off">
          <label for="city">City <span style="color: red; font-size: 15px !important"">*</span></label>
        </div>
        <div class="input-field col s4">
          <input  placeholder="Please enter the zipcode" minlength="6" maxlength="6" id="pin-code" name="pin" type="number" class="validate" required autocomplete="off">
          <label for="pin-code">Pin Code <span style="color: red; font-size: 15px !important"">*</span></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input  placeholder="Please enter the mobile number" name="phone" id="phone" type="tel" class="validate"  autocomplete="off">
          <label for="phone">Mobile Number</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Please enter the office number" id="office" name="office" type="tel" class="validate" required>
          <label for="office">Office Number<span style="color: red; font-size: 15px !important"">*</span></label>
        </div>
      </div>  
      <button type="button" name="home" class= "home action-button waves-effect waves-light">Home</button>
      <button type="button" name="next" class="next action-button waves-effect waves-light">Next</button>
      <h1 class="footer hide-on-mobile"> © 2019 &nbsp; SKSLtechnologies. All rights reserved.</h1>
    </fieldset>  
    <fieldset>
      <h2 class="fs-title">More about the Organization</h2>
      <h3 class="fs-subtitle">This is Step 2</h3>
      <div class="row">
        <div class="input-field col s6">
          <input minlength="5" id="md-name" name="md_name" type="text" autocomplete="off">
          <label for="md-name">Managing Director's Name</label>
          <span></span>
        </div>
        <div class="input-field col s6">
          <input minlength="5" id="dir-name" name="director_name" type="text" autocomplete="off">
          <label for="dir-name">Directors' Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input minlength="5" id="part-name" name="partner_name" type="text" autocomplete="off">
          <label for="part-name">Partner's Name</label>
          <span></span>
        </div>
        <div class="input-field col s6">
          <input minlength="5" id="prop-name" name="prop_name" type="text" autocomplete="off">
          <label for="prop-name">Proprietor's Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select id="org-type" name="org_type" class="org_type">
            <option value="" disabled selected>Choose your option</option>
            <option value="Limited">Limited</option>
            <option value="Private Limited">Private Limited</option>
            <option value="Partnership">Partnership</option>
            <option value="Others">Others</option>
          </select>
          <label>Organization Type</label>
        </div>

        <div class="input-field col s6">
          <select id="member" name="member" class="member">
            <option value="" disabled selected>Choose your option</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label>Are you a member of BAI?</label>
        </div>
      </div>
      <span id="orgSpan">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" minlength="5" id="org-type" name="org-type" required autocomplete="off">
            <label for="org-type">Please enter the type of organization <span
                style="color: red; font-size: 15px !important"">*</span>
            </label>
          </div>
        </div>
      </span>
      <span id="bai_code">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" minlength="4" id="bai-code" name="bai-code" required autocomplete="off">
                    <label for="bai-code">Please enter the BAI code <span style="color: red; font-size: 15px !important"">*</span>
              </label>
            </div>
          </div>
        </span> 
        <div class="row"><h3 class=" questions">&nbsp;&nbsp;&nbsp;&nbsp;Please select all the types of equipments:</h3></div>
      
      <span id="equipmentSpan">
        <div class="row">
          <div class="input-field col s3">
            <div>
              <input class="check" type="checkbox" name="equipments" id="excavators" value="Excavators">
              <label class="excavators" for="excavators">&nbsp;Excavator</label>
            </div>
          </div>
          <div class="input-field col s4">
            <div>
              <input type="checkbox" name="equipments" id="concrete_mixer" value="Concrete Mixer">
              <label class="concrete_mixer" for="concrete_mixer" style="padding-right:38px;">Concrete Mixer</label>
            </div>
          </div>
          <div class="input-field col s4">
            <div>
              <input type="checkbox" name="equipments" id="batch" value="Batching Plant">
              <label class="batch" for="batch">Batching Plant</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <div>
              <input type="checkbox" name="equipments" id="Bulldozer" value="Bulldozer">
              <label class="Bulldozer" for="Bulldozer" style="padding-right:5px;">Bulldozer</label>
            </div>
          </div>
          <div class="input-field col s4">
            <div>
              <input type="checkbox" name="equipments" id="smallDumper" value="25/10 Ton Dumper">
              <label class="smallDumper" for="smallDumper" style="padding-right:18px;">25/10 Ton Dumper</label>
            </div>
          </div>
          <div class="input-field col s5">
            <div>
              <input type="checkbox" name="equipments" id="weldingGenerator" value="Welding Generator">
              <label class="weldingGenerator" for="weldingGenerator" style="padding-right:22px;">Welding
                Generator</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <div>
              <input type="checkbox" name="equipments" id="hydra" value="Hydra">
              <label class="hydra" for="hydra" style="padding-right:25px;">Hydra</label>
            </div>
          </div>
          <div class="input-field col s4">
            <div>
              <input type="checkbox" name="equipments" id="smallCrane" value="100/200 Ton Crane">
              <label class="smallCrane" for="smallCrane" style="padding-right:12px;">100/200 Ton Crane</label>
            </div>
          </div>
          <div class="input-field col s5">
            <div>
              <input type="checkbox" name="equipments" id="other" value="Other Equipments">
              <label class="other" for="other" style="padding-right:30px;">Other Equipments</label>
            </div>
          </div>
        </div>
      </span>
      <span id="selectAllEquip">
        <div class="row">
          <div class="input-field col s6">
            <select id="equipments" name="equipments" multiple>
              <option value="" disabled selected>Choose your option(s)</option>
              <option value="Excavators">Excavators</option>
              <option value="Concrete Mixer">Concrete Mixer</option>
              <option value="100/200 Ton Crane">100/200 Ton Crane</option>
              <option value="25/10 Ton Dumper">25/10 Ton Dumper</option>
              <option value="Hydra">Hydra</option>
              <option value="Welding Generator">Welding Generator</option>
              <option value="Bulldozer">Bulldozer</option>
              <option value="Batching Plant">Batching Plant</option>
              <option value="Others">Others</option>
            </select>
            <label>Types of Equipments</label>
          </div>
        </div>
      </span>
      <button type="button" name="previous" class="previous action-button waves-effect waves-light">Previous</button>
      <button type="button" name="next" class="next action-button waves-effect waves-light">Next</button>
      <h1 class="footer hide-on-mobile"> © 2019 &nbsp; SKSLtechnologies. All rights reserved.</h1>
    </fieldset>
    <fieldset>
      <h2 class="fs-title">More about the Projects</h2>
      <h3 class="fs-subtitle">This is Step 3</h3>
      <div class="row">
        <div class="input-field col s6">
          <select id="clients" name="clients" multiple>
            <option value="" disabled selected>Choose your option(s)</option>
            <option value="CIL">CIL</option>
            <option value="NTPC">NTPC</option>
            <option value="ONGC">ONGC</option>
            <option value="NHAI">NHAI</option>
            <option value="AAI">AAI</option>
            <option value="Railways">Railways</option>
            <option value="State PWD">State PWD</option>
            <option value="State Govt.">State Govt.</option>
            <option value="State PSU">State PSU</option>
            <option value="Central PSU">Central PSU</option>
            <option value="Private">Private</option>
            <option value="Others">Others</option>
          </select>
          <label>Name of the Clients</label>
        </div>
        <div class="input-field col s6">
          <select id="contract" name="contract_type" class="contract_type">
            <option value="" disabled selected>Choose your option</option>
            <option value="EPC Contract">EPC Contract</option>
            <option value="Lumpsum Contract">Lumpsum Contract</option>
            <option value="Others">Others</option>
          </select>
          <label>Organization Type</label>
        </div>
      </div>
      <div class="row"><h3 class="questions">&nbsp;&nbsp;&nbsp;&nbsp;Yearly turnover for the last 3 years:</h3></div>
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="" id="18-19" name="18-19" type="text" autocomplete="off">
          <label for="18-19">2018-2019</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" id="17-18" name="17-18" type="text" autocomplete="off">
          <label for="17-18">2017-2018</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" id="16-17" name="16-17" type="text" autocomplete="off">
          <label for="16-17">2016-2017</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="largest_contract" name="largest_contract" type="number" autocomplete="off">
          <label for="largest_contract">Single Largest Contract in the last 5 years </label>
        </div>
        <div class="input-field col s6">
          <select id="work_nature" name="work_nature" multiple>
            <option value="" disabled selected>Choose your option(s)</option>
            <option value="Major Earthwork">Major Earthwork</option>
            <option value="OB Removal">OB Removal</option>
            <option value="Railway Embankment">Railway Embankment</option>
            <option value="Dams">Dams</option>
            <option value="Roads">Roads</option>
            <option value="Culverts">Culverts</option>
            <option value="Multistoried Buildings">Multistoried Buildings</option>
            <option value="Mechanical Work">Mechanical Work</option>
            <option value="Structural Steel Work">Structural Steel Work</option>
            <option value="Electrical Work in Plants">Electrical Work in Plants</option>
            <option value="Electrical in Residential">Electrical in Residential</option>
            <option value="Design Engineering">Design Engineering</option>
            <option value="Sheds/Workshops">Sheds/Workshops</option>
            <option value="Piling Work">Piling Work</option>
          </select>
          <label>Please the nature of work</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="credentials" class="materialize-textarea" maxlength="500" length="500"></textarea>
          <label for="credentials">Credentials</label>
        </div>
      </div>

      <button type="button" name="previous" class="previous action-button waves-effect waves-light">Previous</button>
      <button type="submit" class="action-button waves-effect waves-light" value="Submit">Submit</button>
      <h1 class="footer hide-on-mobile"> © 2019 &nbsp;SKSLtechnologies. All rights reserved.</h1>
    </fieldset> 
  </form>


  <script src='../js/jquery.easing.min.js'></script>



  <script src="../js/main.js"></script>




</body>


</html>