<HTML>

<head>
	<title>Success</title>
	<link rel='shortcut icon' href='../images/favicon.ico' type='image/png' />
	<link rel="stylesheet" href="../css/success.css">

</head>

<body>
	<div class=" section">
		<p> Kindly check your email for your registeration number. </p>
		<button id="myButton" class="button" style="vertical-align:middle"><span>Go to homepage </span></button>
	</div>
</body>
<script type="text/javascript">
	document.getElementById("myButton").onclick = function () {
		location.href = "/";
	};
</script>

</HTML>