<!DOCTYPE html>
<html lang="en">

<head>
  <title>Member List</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel='shortcut icon' href='../images/favicon.ico' type='image/png' />
  <!-- STYLE CSS -->
  <link rel="stylesheet" href="../css/table.css">
</head>

<body>

  <div class="table-header">
      <button type="button" name="home" class= "home action-button"  onclick="history.back();">Home</button>
    <button type="button" name="filter" class=" action-button filter">Filter</button>
  </div>

  <div id="div1"></div>
  <h1 class="copyright hide-on-mobile">  © 2019 SKSLtechnologies. All rights reserved.</h1>

  <script src='../js/axios.min.js'></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/table.js"></script>

</body>

</html>