@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/lato/Lato-Black.ttf");
}

@font-face {
	font-family: "Lato-Bold";
	src: url("../fonts/lato/Lato-Bold.ttf");
}


/*basic reset*/
* {
	margin: 0;
	padding: 0;
}

:root {
	--container-bg-color: #333;
	--hover-width: 75%;
	--other-width: 25%;
	--speed: 1000ms;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

h1 {
	font-family: "Lato-Bold";
	font-size: 14px;
	color: #222;
	position: absolute;
	background: #fff;
	padding: 10px;
	left: 50%;
	top: 90%;
	transform: translateX(-50%);
	white-space: nowrap;
}


.button {
	font-family: "Lato-Regular";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 2.5rem;
	padding-top: 1.3rem;
	width: 15rem;
	text-align: center;
	color: rgb(248, 245, 245);
	border: #fff solid 0.2rem;
	background-color: rgba(48, 46, 46, 0.548);
	border-radius: 0.2rem;
	font-size: 20px;
	font-weight: 900px;
	text-transform: uppercase;
	text-decoration: none;
	transform: translateX(-50%);
}

.split.left .button:hover {
	background-color: var(--left-button-hover-color);
	border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
	background-color: var(--right-button-hover-color);
	border-color: var(--right-button-hover-color);
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--container-bg-color);
}

.split {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.split.left {
	left: 0;
	background-color: #fdc162;
	background: linear-gradient(to bottom, #fdc2629c 100%, transparent), url('../images/home.jpg') center center no-repeat;
	background-size: cover;
}

.split.left:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--left-bg-color);
}

.split.right {
	right: 0;
	background-color: #0ac1d2;
	background: linear-gradient(to bottom, #0ac1d293 100%, transparent), url('../images/home.jpg') center center no-repeat;
	background-size: cover;
}

.split.right:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--right-bg-color);
}

.split.left,
.split.right,
.split.left:before,
.split.right:before {
	transition: var(--speed) all ease-in-out;
}

.hover-left .left {
	width: var(--hover-width);
}

.hover-left .right {
	width: var(--other-width);
}

.hover-left .right:before {
	z-index: 2;
}

.hover-right .right {
	width: var(--hover-width);
}

.hover-right .left {
	width: var(--other-width);
}

.hover-right .left:before {
	z-index: 2;
}

@media(max-width: 800px) {
	h1 {
		font-size: 2rem;
	}

	.button {
		width: 12rem;
	}
	.footer {
		display:hidden;
		font-size: 5px;
	}
}

@media(max-height: 700px) {
	.button {
		top: 55%;
	}

	.footer {
		font-size: 5px;
	}
}
