@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/lato/Lato-Black.ttf");
}

@font-face {
	font-family: "Lato-Bold";
	src: url("../fonts/lato/Lato-Bold.ttf");
}

/*basic reset*/
* {
	margin: 0;
	padding: 0;
}

html {
	height: auto;
	background-image:linear-gradient(to bottom, rgba(0,0,0,0.36) 100%, transparent), url(../images/background.jpg);
	background-size: repeat;
}

/* body {
	font-family: montserrat, arial, verdana;
} */

body {
	font-family: "Lato-Regular";
	font-size: 14px;
	margin: 0;
	color: #999;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*form styles*/
#msform {
	width: 826px;
	height: 620px;
	margin: 50px auto;
	text-align: center;
	position: relative;

}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: "Lato-Regular";
	font-size: 14px;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	font-family: "Lato-bold";
	font-size: 14px;

}

#msform .action-button:hover,
#msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
	font-family: "Lato-Black";
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	letter-spacing: 2px;
	font-weight: 900;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: rgb(160, 5, 57);
	margin-bottom: 20px;
}

.questions {
	font-family: "Lato-Regular";
	font-size: 14px;
	color: rgb(155, 155, 155);
	text-align: left;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
	background: orange;
	color: white;
}

.form-row {
	display: flex;
	margin-bottom: 20px;
}

.form-row .form-holder {
	width: 50%;
	margin-right: 20px;
}

.form-row .form-holder:last-child {
	margin-right: 0;
}

.form-row .form-holder.w-100 {
	width: 100%;
	margin-right: 0;
}

.form-row .form-holder {
	margin-right: 21px;
}

.form-row .form-holder:last-child {
	margin-right: 0;
}

.form-row-full {
	display: flex;
	margin-bottom: 20px;
}

.form-row-full .form-holder {
	width: 100%;
	margin-right: 20px;
}

.form-row-full .form-holder:last-child {
	margin-right: 0;
}

.form-row-full .form-holder.w-100 {
	width: 100%;
	margin-right: 0;
}

.form-row-full .form-holder {
	margin-right: 21px;
}

.form-row-full .form-holder:last-child {
	margin-right: 0;
}

.form-holder {
	position: relative;
}

.form-holder i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	font-size: 16px;
}

.form-control {
	height: 42px;
	border: 1px solid #e6e6e6;
	width: 100%;
	background: none;
	padding: 0 35px 0 19px;
	color: #999;
}


.form-control:focus {
	border-color: #8eb852;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

.form-control::-moz-placeholder {
	color: #999;
}

.form-control:-ms-input-placeholder {
	color: #999;
}

.form-control:-moz-placeholder {
	color: #999;
}

.container {
	display: block;
	position: relative;
	height: 25px;
	background-color: none;
	color: #666;
	cursor: pointer;
	font-family: "Lato-Regular";
	font-size: 14px;
	text-align: center;
	padding-left: 23px;
	margin-bottom: 5px;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;

}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #666;
}

.container:hover input~.checkmark {
	background-color: orange;
}

.container:hover {
	background-color: bisque;
	color: #666;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
	background-color: orange;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.custom-select {
	color: #999;
	font-family: "Lato-Regular";
	font-size: 14px;
	position: relative;
	background: white;
	margin-right: 20px;
	width: 100%;
	border: 1px solid #c2c0c0;
	border-radius: 3px;
	height: 40px;
}

.custom-select select {
	display: none;
}


.select-selected {
	color: #999;
	padding: 10px;
	cursor: pointer;
}

.select-items div {
	color: white;
	padding: 8px 16px;
	border-bottom: 1px solid transparent;
	border-color: white;
	cursor: pointer;
}

.select-items {
	position: absolute;
	background-color: orange;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 1000;

}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}


/* Making the label break the flow */
.floating-label
{
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
     z-index: 1;
}

/* Hide the browser-specific focus styles */
.floating-label-field
{
    color: rgba(44, 62, 80, .75); 
    border-width: 0;
    z-index: 1;
}
.floating-label-field:focus
{
    outline: 0;
    box-shadow: 0;
}

.floating-label,
.floating-label-field
{
    font: inherit;
    line-height: 1; 

    display: block;

    width: 100%;
}

.floating-label-field,
.floating-label-wrap
{
    position: relative;
}

/* Input Style #1 */


.floating-label-field--s3
{
    padding: 1.5em; 

    transition: border-color .25s ease-in-out;

    color: rgb(78, 78, 78);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    background-color: transparent;
}
.floating-label-field--s3 + .floating-label
{
    position: absolute;
    top: .75em;
    left: .75em;

    display: inline-block;

    width: auto;
    margin: 0;
    padding: .75em;

    transition: transform .25s, opacity .25s, padding .25s ease-in-out;
    transform-origin: 0 0;

    color: rgb(161, 159, 159);
}
.floating-label-field--s3:focus,
.floating-label-field--s3:not(:placeholder-shown)
{
    border-color: black;
}
.floating-label-field--s3:focus + .floating-label,
.floating-label-field--s3:not(:placeholder-shown) + .floating-label
{
    z-index: 1;
    padding: .75em;
    transform: translate(0, -2em) scale(.9);
    color: black;
    background-color: white;
}

/* Common Styles */
/* Identical inputs on all browsers */
.floating-label-field--s3:not(textarea)
{
    max-height: 4em;
}


.floating-label-field--s3::placeholder
{
    color: transparent;
}


@media (max-width: 767px) {
	html {
		background: black;
		height: auto;
		display: block;
	}

	#msform {
		width: 100%;
		padding: 0;
		height: auto;
	}
	

	.form-row {
		display: block;
	}

	.form-row .form-holder {
		width: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}

	.select-selected {
		color: #999;
		padding: 10px 20px;
		cursor: pointer;
	}

	.container {
		margin: 0px;
		height: 25px;
		text-align: center;
	}


}