@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/lato/Lato-Black.ttf");
}

@font-face {
	font-family: "Lato-Bold";
	src: url("../fonts/lato/Lato-Bold.ttf");
}

/*basic reset*/
* {
	margin: 0;
	padding: 0;
}

html {
	height: auto;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.36) 100%, transparent), url(../images/background.jpg);
	background-size: repeat;
}

body {
	font-family: "Lato-Regular";
	font-size: 14px;
	margin: 0;
	color: black;
	background-size: cover;
	display: flex;
}

/*form styles*/
#msform {
	width: 826px;
	height: 620px;
	margin: 50px auto;
	text-align: center;
	position: relative;

}

header {
	width: 1000px;
}

/*container*/
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 0 10% 10%;
	position: relative;
	height: auto;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input {
	padding: 0 5px 0 5px;
	width: 100%;
	box-sizing: border-box;
	font-family: "Lato-Regular";
	font-size: 15px !important;
	z-index: 0;
	border-radius: 2px;
	border-bottom: 1px solid transparent;
	box-shadow: 0 1px 0 0 #000;
	background-color: white !important;
	margin: 0 0 5px 0 !important;
}

.select-wrapper span.caret {
	color: #000 !important;
}


label {
	color: #000 !important;
	font-size: 14px !important;
	text-align: left !important;
}

.questions {
	font-family: "Lato-Regular";
	font-size: 14px;
	font-weight: bolder !important;
	color: black;
	text-align: left;
	margin-bottom: -2px;

}

#orgSpan {
	display: none;
}

#bai_code {
	display: none;
}

#equipmentSpan {
	display: none;
}

#selectAllEquip {
	/* padding-top: 20px !important; */
	display: none;
}


/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=number].valid,
.input-field textarea.valid,
.input-field input[type=url].valid,
.input-field input[type=tel].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
	color: #27AE60;
	margin: 0 0 12px 0 !important;
}


input:focus,
textarea:focus {
	border-bottom: 1px solid rgb(38, 163, 38);
	box-shadow: 0 3px 0 0 rgb(38, 163, 38) !important;
}

input:not(focus),
textarea:not(focus) {
	border-bottom: 1px solid black;
	box-shadow: 0 2px 0 0 black !important;
}

form .error {
	color: rgb(228, 4, 4) !important;
	margin-top: -1px !important;
	font-size: 12px;
}

.dropdown-content li:hover {
	background-color: white !important;
	color: #000 !important;
}

.dropdown-content li.active,
.dropdown-content li.active.selected {
	background-color: white !important;
}

.select-wrapper input.select-dropdown {
	margin-top: 10px !important;
	padding-right: 20px !important;
	color: #666 !important;
}

.dropdown-content li {
	background: orange !important;
	color: black !important;
}

ul.dropdown-content.select-dropdown li span {
	color: #000;
}

.input-field .prefix.active {
	color: #000 !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
	color: #000 !important;
}

.autocomplete-content li .highlight {
	color: red !important;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	font-family: "Lato-bold";
	font-size: 14px;

}

#msform .previous {
	background: rgba(255, 166, 0, 0.747);
}

#msform .home {
	background: rgba(119, 15, 38, 0.747);
}


#msform .action-button:hover,
#msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(58, 58, 58);
}

/*headings*/
.fs-title {
	font-family: "Lato-Black";
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: rgb(160, 5, 57);
	padding-bottom: 2px;
}


/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
	background: orange;
	color: white;
}

.container {
	display: block;
	position: relative;
	height: 25px;
	background-color: none;
	color: #666;
	cursor: pointer;
	font-family: "Lato-Regular";
	font-size: 14px;
	text-align: center;
	padding-left: 23px;
	margin-bottom: 5px;
}

.footer {
	font-family: "Lato-Bold";
	font-size: 14px;
	color: #222;
	position: relative;
	background: #fff;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	white-space: nowrap;
	padding-top: 18px;
}





@media (max-width: 850px) {
	html {
		/* background: #073a2d; */
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, transparent), url(../images/mobile-background.jpg);
		background-size: cover;
		height: auto;
		display: block;
	}

	#msform {
		width: 100%;
		padding: 0;
		height: auto;
	}

	.container {
		margin: 0px;
		height: 25px;
		text-align: center;
	}

	.footer {
		font-size: 10px;
		font-family: "Lato-Regular";
	}

	.s6 {
		width: 100% !important;
		margin-bottom: 15px;
	}

	.row {
		margin-bottom: 30px !important;
	}

	.s3 {
		width: 100% !important;
		margin-bottom: 25px;
	}

	.s4 {
		width: 100% !important;
		margin-bottom: 25px;
	}

	h3 {
		padding-bottom: 5px !important;
	}

	#selectAllEquip {
		padding-top: 20px !important
	}

	.input-field {
		border-bottom: 3px solid #000;
	}

	#msform input {
		padding: 0px !important;
		width: 100%;
		border: 0;
		/* margin-bottom: 15px !important; */
	}

	textarea {
		margin-bottom: -5px !important;
	}

}